{
  "authentication": {
    "blockUnknown": true,
    "class": "solr.BasicAuthPlugin",
    "credentials": {
      "{% if solr_admin_user %}{{ solr_admin_user }}{% else %}{{ customer_name | default(moodle_app_domain.split('.')[0]) }}_admin{% endif %}": "{{ solr_admin_password_hash }}",
      "{% if solr_moodle_user %}{{ solr_moodle_user }}{% else %}{{ customer_name | default(moodle_app_domain.split('.')[0]) }}_moodle{% endif %}": "{{ solr_moodle_password_hash }}"
    }
  },
  "authorization": {
    "class": "solr.RuleBasedAuthorizationPlugin",
    "permissions": [
      {
        "name": "security-edit",
        "role": "admin"
      },
      {
        "name": "core-admin-read",
        "role": ["admin", "core_reader"]
      },
      {
        "name": "core-admin-edit",
        "role": "admin"
      },
      {
        "name": "collection-admin-read",
        "role": ["admin", "core_reader"]  
      },
      {
        "name": "collection-admin-edit",
        "role": "admin"
      },
      {
        "name": "read",
        "path": "/{{ solr_core_name | default('eledia_solr_' + customer_name) }}/*",
        "role": ["admin", "core_reader", "moodle_user"]
      },
      {
        "name": "update",
        "path": "/{{ solr_core_name | default('eledia_solr_' + customer_name) }}/*", 
        "role": ["admin", "moodle_user"]
      }
    ],
    "user-role": {
      "{% if solr_admin_user %}{{ solr_admin_user }}{% else %}{{ customer_name | default(moodle_app_domain.split('.')[0]) }}_admin{% endif %}": ["admin"],
      "{% if solr_moodle_user %}{{ solr_moodle_user }}{% else %}{{ customer_name | default(moodle_app_domain.split('.')[0]) }}_moodle{% endif %}": ["moodle_user"]
    }
  }
}
